{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["airbnb", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": "off",
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "groups": ["builtin", "external", ["sibling", "parent"], "index"]
      }
    ],
    "import/no-cycle": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/destructuring-assignment": "off"
  },
  "plugins": ["import", "react", "prettier"],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config.js"
      }
    }
  }
}
