{
  "parser": "typescript-eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "extends": [
    "typescript",
    "typescript/react",
    "typescript/prettier",
    "plugin:import/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "rules": {
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "groups": ["builtin", "external", ["sibling", "parent"], "index"]
      }
    ],
    "import/no-cycle": "off",
    "import/named": "off",
    "typescript/explicit-function-return-type": "off",
    "typescript/explicit-member-accessibility": "off",
    "jsx-a11y/label-has-for": "off"
  },
  "plugins": ["import", "jsx-a11y"],
  "settings": {
    "import/resolver": "webpack"
  }
}
